body {
  color: #222;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

main {
  padding: 10px;
  max-width: 800px; /* Adjust width for more space */
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

.post {
  display: flex;
  gap: 20px; /* Space between image and text */
  align-items: flex-start; /* Align items to the top */
  margin-top: 20px;
}

.post img {
  width: 40%; /* Image takes 40% of the container width */
  border-radius: 8px;
}

.post .description {
  flex: 1; /* Remaining space for the description */
}

h2 {
  margin-top: 0;
}
